In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
from fuzzywuzzy import fuzz, process


%matplotlib inline

Make an API request that returns the entire Top 500 Monthly Searches dataset. Make a chart that shows the number of times "maps" was searched in a month across the entire time frame.

In [2]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

In [3]:
soql_query = (
    f"{endpoint}?$select=month_name,query_text,query_count"
    f"&$limit=50000")

In [4]:
response = requests.get(soql_query)

In [5]:
data = pd.DataFrame(response.json())

In [6]:
data

      month_name         query_text query_count
0        January               ebid         223
1        January      property maps         112
2        January               maps          97
3        January       property tax          90
4        January               jobs          76
...          ...                ...         ...
43672       July     sign ordinance           8
43673       July               snap           8
43674       July     small business           8
43675       July   water department           8
43676       July  value of property           8

[43677 rows x 3 columns]

In [7]:
data[data['query_text'] == "maps"]

      month_name query_text query_count
2        January       maps          97
503     February       maps         140
1005       March       maps         144
1503       April       maps         152
2003         May       maps         119
...          ...        ...         ...
39196   November       maps          86
39688   December       maps         113
41188      March       maps         132
41683      April       maps         148
42682       June       maps         151

[82 rows x 3 columns]

In [15]:
maps_df = data[data['query_text'].str.contains("maps")]

In [30]:
type(maps_df)

pandas.core.frame.DataFrame

In [35]:
maps_df.groupby(['month_name','query_text'])["query_count"].count().sort_values(ascending = False).head(30)

month_name  query_text
June        maps             8
April       maps             8
February    property maps    7
August      maps             7
May         property maps    7
March       maps             7
July        maps             7
            Property maps    7
January     property maps    7
            maps             7
November    maps             7
            property maps    7
October     maps             7
August      property maps    7
May         maps             7
September   maps             6
February    maps             6
May         Property maps    6
September   property maps    6
March       Property maps    6
June        property maps    6
            metro maps       6
            Property maps    6
July        property maps    6
April       metro maps       6
            property maps    6
May         metro maps       6
January     metro maps       6
August      metro maps       6
October     property maps    5
Name: query_count, dtype: int64